<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>MinerUCAB - Empleados</title>

    <link rel="icon" href="public/images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/animate.css">
    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/css/estilos.css" rel="stylesheet">
  </head>
 
<body>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-lg-2 d-none d-md-block sidebar">
          <div class="sidebar-sticky">
            <section class="container-fluid">

             <!--Cabecera del sidebar-->
              <section class="sideInfo">
                <div class="row">
                  <div class="col-lg-12">
                    <img src="public/images/logo.png" class="img-fluid">
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 tagUser">
                    <h3 class="text-center text-sidebar textUser"><%= user.nombre %> <%= user.apellido %></h3>
                    <p class="text-center text-sidebar"><%= user.cargo %></p>
                    <p class="text-center text-sidebar"><%= user.usuario %></p>
                  </div>
                </div>
              </section>

              <!--Contenido del sidebar-->
              <section class="sectionOptions">
                <div class="row">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-8">
                    <div class="text-center iconsSideMenuGH animated fadeIn" id="menuItemHome">
                      <p class="text-center iconSideMenu"><i class="fas fa-home"></i></p>
                      <p class="text-center">Home</p>
                    </div>
                  </div>
                  <div class="col-lg-2"></div>
                </div>
                <div class="row">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-8">
                    <div class="text-center iconsSideMenuGH animated fadeIn activeOption" id="menuItemProyectos">
                      <p class="text-center iconSideMenu"><i class="fas fa-sliders-h"></i></p>
                      <p class="text-center">Proyectos</p>
                    </div>
                  </div>
                  <div class="col-lg-2"></div>
                </div>
              </section>


              <!--Footer del sidebar-->
              <div class="footerSideBar">

                <hr>
                <div class="row">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-8">
                    <div class="text-center">
                      <form>
                        <button class="btn btn-sm btnHome" type="submit"> <i class="fas fa-bell"></i>  Notificaciones</button>
                      </form>
                    </div>
                  </div> 
                  <div class="col-lg-2"></div>
                </div>  

                <div class="row rowButtonSidebar">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-8">
                    <div class="text-center">
                      <form >
                        <button class="btn btn-sm btnHome" type="submit"> <i class="fas fa-cog"></i>  Configuración</button>
                      </form>
                    </div>
                  </div> 
                  <div class="col-lg-2"></div>
                </div>  

                <div class="row rowButtonSidebar">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-8">
                    <div class="text-center">
                      <form action="/logOut" method="POST">
                        <button class="btn btn-sm btnHome" type="submit"> <i class="far fa-arrow-alt-circle-left"></i>  Cerrar Sesión</button>
                      </form>  
                    </div>
                  </div> 
                  <div class="col-lg-2"></div>
                </div>
              </div>
              
            </section>
          </div>
        </nav>

        
        <main role="main" class="ml-sm-auto col-lg-10 content">
          <section class="container-fluid proyectosBox">
            <div class="row">
              <div class="col-2"></div>
              <div class="col-4" id="menuItemAgregarEmpleado">
                <div class="boxMenuItem animated fadeIn">
                  <p class="text-center"><i class="far fa-plus-square iconsMenu"></i></p>
                  <h2 class="text-center">Agregar yacimientos</h2>
                </div>
              </div>
              <div class="col-4" id="menuItemConsultarEmpleado">
                <div class="boxMenuItem animated fadeIn">
                  <p class="text-center"><i class="fas fa-search iconsMenu"></i></p>
                  <h2 class="text-center">Cosultar yacimientos</h2>
                </div>
              </div>
              <div class="col-2"></div>
            </div>
            <div class="row rowDivider">
              <div class="col-2"></div>
              <div class="col-4" id="menuItemModificarEmpleado">
                <div class="boxMenuItem animated fadeIn">
                  <p class="text-center"><i class="fas fa-pen iconsMenu"></i></p>
                  <h2 class="text-center">Modificar yacimientos</h2>
                </div>
              </div>
              <div class="col-4" id="menuItemEliminarEmpleado">
                <div class="boxMenuItem animated fadeIn">
                  <p class="text-center"><i class="far fa-minus-square iconsMenu"></i></p>
                  <h2 class="text-center">Eliminar yacimientos</h2>
                </div>
              </div>
              <div class="col-2"></div>
            </div>
            <div class="row rowButtonBack">
              <div class="col-4"></div>
              <div class="col-4">
                <button type="button" class="btn btn-block btnBack" id="backToPersonal"><i class="fas fa-arrow-left"></i> Volver al menú de personal</button>
              </div>
              <div class="col-4"></div>
            </div>
          </section>
        </main>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="public/js/logic.js"></script>
    <script src="public/js/popper.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
  </body>

</html>