/*PLANTILLA BASE*/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: gray;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.content{
  
}

.cabecera{
  margin-top: -60px;
  margin-bottom: 60px;
}

.sectionOptions{
  margin-bottom: 40px;
  margin-top: -20px;
}

.text-sidebar{
  font-size: 12px;
  color: #fff;
}

.text-footer{
  font-size: 14px;
  color: #fff;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .85rem .05rem;
  border:none;
  background-color: gray;
}

/*LOGIN USERS*/

.formBox{
  background-color: #292F36;
  border-radius: 10px;
  padding: 25px;
}

.imgLogin{
  height: 160px;
  width: 160px;
}

.containerLogin{
  margin-top:45px;
}

.horizontalDivider{
  background-color: #294936;
  height: 2px;
}

.formsField{
  background-color: transparent;
  border-color: transparent transparent white transparent;
  border-width: 1px;
  border-radius: 2px;
  transition: 0.2s ease-in-out;
  color: white;
}

.form-control.formsField:hover,
.form-control.formsField:focus{
  border-radius: 3px;
  color: white;
  background-color: transparent;
  box-shadow: none;
  border-color: white;
}

.labelInputs{
  color: white;
}

.buttonLogin{
  margin-top: 40px;
}

.textErrorUp{
  color: white;
  font-size: 14px;
  margin-top: 40px;
  transition: 1s ease-in-out;
}

.textErrorDown{
  color: white;
  font-size: 14px;
  margin-top: 70px;
  transition: 1s ease-in-out;
}